@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import "~tom-select/dist/scss/tom-select.bootstrap5";*/

[x-cloak] {
    display: none;
}

:root {
    --width: 200px;
    --padding: 10px;
    --width-collapsed: 53px;
    --hover-color: rgb(83, 171, 175);
    --primary-color: #16878c;
    --secondary-color: #53abaf;
}
* {
    font-family: "Roboto", sans-serif;
}

.nav {
    background: var(--secondary-color);
}

.btn-menu {
    width: var(--width-collapsed);
    margin-right: 2rem;
}
.btn-menu:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/*Estilos de menú vertical*/

#vertical-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    color: white;
    height: 100%;
    left: 0px;
    z-index: 1;
    background-color: var(--primary-color);
}

#vertical-menu a {
    color: white;
    text-decoration: none;
}

#vertical-menu #menu-items {
    overflow: hidden;
    margin-top: 90px;
}

#vertical-menu #menu-item-logout {
    overflow: hidden;
}

#vertical-menu #menu-items .item,
#vertical-menu #menu-item-logout .item {
    width: var(--width);
}

#vertical-menu #menu-items .item .icon,
#vertical-menu #menu-item-logout .item .icon {
    font-size: 30px;
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}
#vertical-menu #menu-items .item .title,
#vertical-menu #menu-item-logout .item .title {
    font-size: 16px;
    padding: var(--padding) 0;
}
#vertical-menu #menu-items .item .icon,
#vertical-menu #menu-items .item .title,
#vertical-menu #menu-item-logout .item .icon,
#vertical-menu #menu-item-logout .item .title {
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#vertical-menu #menu-item-logout .item .title a:hover {
    text-decoration: underline;
}

#vertical-menu #menu-items .item a,
#vertical-menu #menu-item-logout .item a {
    display: block;
}

#vertical-menu #menu-items .item a:hover {
    background-color: rgba(83, 171, 175, 0.5);
}

#vertical-menu #menu-item-logout .item a:hover {
    background-color: rgba(83, 171, 175, 0.5);
}

#vertical-menu #menu-items .item .icon i {
    width: 100%;
}
#vertical-menu #menu-item-logout .item .icon i {
    width: 100%;
}

/*Estilos de menú expandido*/
.menu-expanded {
    transition: all 0.8s ease;
    width: var(--width);
    box-shadow: 0px 0px 10px rgba(0px, 0px, 0px, 0.5);
}

/*Estilos menú colapsado*/
.menu-collapsed {
    transition: all 0.8s ease;
    width: var(--width-collapsed);
}
.menu-collapsed .item {
    width: 100%;
}

/*General Styles*/
.header > .title {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 35px;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--hover-color);
}

.pg-actions {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
/*Altura para data Formulario de Evaluaciones*/
.dataProject {
    height: 60vh;
}

/*----------------------
Estilos para el input range de las pruebas de sustantividad
------------------------*/
.range {
    display: block;
    position: relative;
    z-index: 2;
}

.scala {
    margin: auto;
    width: 924px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 15px;
    position: relative;
    top: -0.8rem;
    z-index: 1;
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-end;
    padding: 6px 0;
}

.numero {
    position: relative;
    text-align: center;
}

.linea {
    width: 1px;
    height: 12px;
    background-color: black;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}
.markingA {
    position: relative;
    left: 1.2rem;
}
.markingB {
    position: relative;
    left: 2.4rem;
}

.markingC {
    position: relative;
    left: 4.9rem;
}

.markingD {
    position: relative;
    left: 18.2rem;
}

.markingE
{
  position: relative;
  left: 27.95rem;
}

.markingF
{
  position: relative;
  left: 54.2rem;
}
/*Styles Thumb input range*/
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 950.9px;
    z-index: 2;
}

/*-----------------------------------
Estilos de input range Chrome
-------------------------------------*/
input[type="range"]::-webkit-slider-thumb {
    background-color: var(--primary-color);
    margin-top: -0.35em;
    border: none;
    width: 1.75em;
    height: 1.75em;
    --poly:polygon(50% 100%, 10% 0, 90% 0);
    -webkit-clip-path: var(--poly);
    clip-path: var(--poly);
    cursor: pointer;
}

/*Estilo para mozilla firefox - Thumb*/
input[type="range"]::-moz-range-thumb {
    background-color: var(--secondary-color);
    margin-top: -0.35em;
    border: none;
    width: 1.75em;
    height: 1.5em;
    --poly: polygon(50% 100%, 10% 0, 90% 0);
    -webkit-clip-path: var(--poly);
    clip-path: var(--poly);
    cursor: pointer;
}

/*Estilos de línea Firefox*/
input[type="range"]::-moz-range-track {
    background-color: transparent;
    height: 3px;
}

input[type="range"]::-moz-range-progress {
    background-color: transparent;
    height: 1em;
}

/*input[type=range]::-ms-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
  }*/

/*input[type="range"]::-ms-track {
    background-color: #777;
    height: 3px;
}*/

/*Estilo línea de Range Input - Navegador Google Chrome*/
/*input[type="range"]::-webkit-slider-runnable-track {
    background-color: transparent;
}*/

/*input[type="range"]:focus::-webkit-slider-runnable-track {
    outline: none;
}*/

/*Wordking Bootstrap*/
/*@import 'bootstrap/scss/bootstrap';*/
